/* Configuração padrão para inicio da Estilização */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#fundo {
    background-image: linear-gradient(to top, white, #3a3b3b7c);
}

header {
    background-color: #32C2B9;
    padding: 1%;
    overflow: hidden;
    align-items: center;
    display: block;
}

#texto-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#texto-header img {
    background-color: white;
    border-radius: 50%;
    width: 8%;
    border-style: transparent;
}

#texto-header h1 {
    align-items: center;
    font-size: 300%;
    margin-left: 2%;
    color: white;
}

#form-completo {
    width: 100%; /* Largura */
    height: 100vh; /* Tamanho */
    display: flex; /* Responsável por colocar os itens na mesma linha (lado a lado) */
    align-items: center; /* Alinhar os itens para o centro */
    justify-content: center; /* Justifiar-conteúdo ao centro */
}


.container { /* Aqui estamos chamando nossa Class da DIV PAI */
    max-width: 1280px; /* Atribuimos aqui um tamanho máximo de largura que essa Class irá exercer */
    margin: 0 auto; /* dizemos ao navegar que as margens superior e inferior são iguais a 0 e as da esquerda a direita são automáticas */
}

.text-inicio {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5%;
    color: white;
}

#titulo {
    text-align: center;
    font-size: 2.5em;
    color: white;
}

.text-box {
    margin-bottom: 2%;
    width: 40%;
    height: 5vh;
    border-radius: 75px;
    padding: 2%;
    font-size: 0.8rem;
    border: solid;
    border-color: black;
    border-width: 1.5px;
}

.input-form {
    align-items: center;
    text-align: center;
}

form {
    background-color: #8090917c;
    padding: 5% 5% 4% 4%;
    border-radius: 35px;
    border: 2px;
}




