 * {
    padding: 0;
    /* */

    margin: 0;
    /* */

    vertical-align: baseline;
    /* */

    list-style: none;
    /* */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        /* */
}

/* LOGO */
#line{
    background-color: #238881c5;
    width: 100%;
    height: 1em;
}

header {
    background-color: #32C2B9;
    padding: 1%;
    overflow: hidden;
    align-items: center;
    display: flex;
}

#texto-header {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

#texto-header img {
    background-color: white;
    border-radius: 50%;
    width: 8%;
    border-style: transparent;
}

#texto-header img:hover{
    transition: 0.4s;
    width: 9%;   
}

#texto-header h1 {
    align-items: center;
    font-size: 300%;
    margin-left: 2%;
    color: white;
    font-weight: 350;
}

/* LOGO */



/* MENU */

#list-menu {
    display: flex;

}

.item-header  {
    text-decoration: none;
    margin-right: 3em;
    font-weight: 100;
}

.item-header a {
    text-decoration: none;
    color: white;
}

.item-header a:hover{
    transition: 0.3s;
    font-size: 1.1em;
    color: lightslategray;
}
/* MENU */



/* IMG DESTAQUE */
#destaque {
    margin-top: 0.2%;
    background: linear-gradient(180deg, #5f5f5f63 8.33%, rgba(105, 105, 105, 0.445)), url(imagens/IMG\ DESTAQUE.jpg);
    /* Filtro com imagem de fundo */
    padding: 13vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#destaque h2 {
    text-align: center;
    color: white;
    font-size: 2.9em;
    font-weight: 600;
    margin-top: -8%;
}


#info-destaque {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
    transform: translateY(10vh);

}

#info-destaque p {
    color: rgb(0, 0, 0);
    font-size: 2em;
    background-color: #C0C0C0;
    padding: 1% 7%;
    border-radius: 30px;

}

/* IMG DESTAQUE */




/* Tratamentos */

#tratamentos {
    margin-top: 8%;

}

#tratamentos h2 {
    text-align: center;
    font-weight: 400;
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 5%;
}

#tratamentos ul {
    display: flex;
    text-align: center;

}

.tratamento-item img {
    width: 60%;
    border-radius: 50%;
}


.tratamento-item img:hover {
    transition: 0.4s;
    width: 64%;
}

.tratamento-item a {
    text-decoration: none;
}

.tratamento-item p {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* Tratamentos */


/* Funcionário */
#funcionarios {
    background-color: #d3d3d3c0;
    margin-top: 13%;
    padding: 1%;
    display: flex;
    margin-bottom: 5%;
}


#funcionario-text h2 {
    margin-left: 15%;
    font-weight: 400;
    font-size: 2em;
    
}

#funcionario-text p {
    max-width: 60%;
    margin: 3%;
    margin-left: 10%;
    font-size: 1.2em;
    text-align: justify;
}

#funcionario-text #txt2 {
    max-width: 70%;
}

#img-thaise {
    display: flex;
    margin-left: 9%;
    margin-top: 3%;
}

#funcionarios img {
    padding: 2%;
    width: 30%;
    border-radius: 20%; 
    transform: translateY(-1.3em);

}

/* Funcionário */



/* Visite */
#visite {
    margin-top: 0.3%;
    background: linear-gradient(180deg, #5f5f5f63 8.33%, rgba(105, 105, 105, 0.445)), url(imagens/Criança\ no\ Dentista.jpeg);
    /* Imagem da criança */
    padding: 8vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#visite h2 {
    text-align: center;
    font-size: 50px;
    color: white;
}

/* Visite */


/* Sobre Nós */
#sobre-nos {
    background-color: white;
    padding: 5%;
}

#sobre-nos h2 {
    text-align: left;

    font-size: 2em;
    font-weight: 450;
}

#sobre-nos p {
    max-width: 50%;
    font-size: 1.3em;
    margin-top: 3%;
    }

#sobre-nos h3 {
    background-color:  #32C2B9;
    padding: 1% 5%;
    border-radius: 15px;
    max-width: 18%;
}

#sobre-nos img {
    width: 25%;
    height: 30%;
    border-radius: 20%;
    margin-left: 15%;
}

#div-sobre{
    display: flex;
}
/* Sobre Nós */


#detalhes {
    background-color: #C0C0C0;
    padding: 1%;
    display: flex;

}

#detalhes ul {
    /* colocar os itens lado a lado, nao consegui, tentei ao maximo !!*/
    
    overflow: hidden;
    align-items: center;
    display: flex;

}

#detalhes li {
    /* colocar os itens lado a lado, nao consegui, tentei ao maximo !!*/
 
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
}

#detalhes p {
    display: flex;
    align-items: center;
    margin-left: 2%;
    font-weight: 500;
    text-align: center;
}

#detalhes img {
    width: 15%;
    height: 5%;
    display: flex;
}



/* estilizando o rodapé*/
footer {
    margin-top: 5%;
    background-color: #32C2B9;
    padding: 1%;
    overflow: hidden;
    text-decoration: none;
    align-items: center;
}


#loc {
    display: flex;
    margin: 0;
    float: right;
    justify-content: end;
    text-align: end;
}

#menu-footer ul{
    display: flex;

}

#imgtxt-footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#imgtxt-footer a img {
    width: 50%;
    border-radius: 50vh;
}

#imgtxt-footer a h2 {
    margin-left: 1rem;
    font-size: 2.5em;
    color: white;
    font-weight: 200;
}

.meio-footer a {
    text-decoration: none;
    display: flex;
    text-align: center;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: white;
    font-size: 1.2em;
}

#ultimo-meio {
    margin-right: 40%;
}

#linha-footer {
    width: 160vh;
    height: 3px;
    border-width: 0;
    background-color: white;
    margin-right: 4%;
}







/*Aqui estou estilizando nosso CSS para responsividade*/


@media (max-width : 430px) {
    /* LOGO */

    header {
        
        padding: 5%;
    }

    #menu-header {
        display: none;
    }

    #texto-header{
     display: flex;
    }

    #texto-header h1{
        font-size: 2em;
    }

    #texto-header img {
        width: 35%;
    }

    #login a p {
        font-size: 1.5em;
        margin-left: 50%;
    }
    /* LOGO */

    /*parte principal do site*/

    #destaque {
        padding: 20%;
    }

    #info-destaque p  {
       justify-content: space-between;
    }

    /* Tratamentos */

    #tratamentos {
        font-size: 1em;
    }

    #tratamentos ul {
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

    /* Tratamentos */


    #img-thaise {
        display: block;
        margin: 2%;
        text-align: center;
    }

    #img-thaise img {
        width: 90%; /* tamanho da imagem*/
        margin-top: 10%;
    }

    #funcionario-text p{
        margin: 4%;
        max-width: none;
    }

    #funcionario-text #txt2 {
        max-width: none;
    } 

    #funcionario-text h2 {
        text-align: center;
        margin: 0 auto;
    }

    #funcionario-info {
        font: bold; /* deixar a letra um pouco mais grossa*/
        font-size: 1.2em;
        display: block;
        text-align: justify;
        margin: 0;
        max-width: none;
        
    }
    /*visitas*/
    #visite{
        padding: 12%;
    }
    #visite h2  { 
        
       font-size: 200%;
        
        
    }
    /*sobre nós*/

    #sobre-nos {
        display: block;
    }

    #sobre-nos h2 {
       text-align: center;

    }

    #div-sobre img {
        width: 45%; /* tamanho da imagem*/
      margin-top: 40%;

    }

    #div-sobre p {
       font-size: 1em;
       
    }

    #sobre-nos h3 {
        font: bold; /* deixar a letra um pouco mais grossa*/
        font-size: 1.2em;
        display: block;
        text-align: justify;
        margin: 0;
        max-width: none;


    }



  

  

}