/* Configuração padrão para inicio da Estilização */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#fundo {
    background-image: linear-gradient(to top, white, #3a3b3b7c);
}

header {
    background-color: #32C2B9;
    padding: 1%;
    overflow: hidden;
    align-items: center;
    display: block;
}

#itens-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#itens-header img {
    background-color: white;
    border-radius: 50%;
    width: 8%;
    border-style: transparent;
}

#itens-header h1 {
    align-items: center;
    font-size: 300%;
    margin-left: 2%;
    color: white;
    font-weight: 350;
}


.container { /* Aqui estamos chamando nossa Class da DIV PAI */
    margin: 0 auto; /* dizemos ao navegar que as margens superior e inferior são iguais a 0 e as da esquerda a direita são automáticas */
    margin-top: 1%;
}


#titulo {
    text-align: center;
    margin-bottom: 1%;
    font-size: 2.5em;
    color: white;
    font-style: italic;
}

.input-form {
    text-align: center;
}

form {
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: #ffffff80;
    width: 35%;
    height: 75vh;
    padding: 5%;
    border-radius: 35px;
    border-color: black;
    border-style: solid;
    border-width: 1px;

}

.text-box {
    margin-bottom: 2%;
    width: 80%;
    height: 6vh;
    border-radius: 100px;
    padding: 2%;
    font-size: 0.8rem;
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 1px;
}


.psw-box {
    margin-bottom: 2%;
    width: 80%;
    height: 6vh;
    border-radius: 75px;
    padding: 2%;
    font-size: 0.8rem;
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 1px;
}

#fpsw-box {
 margin-top: 5%;
}




.input-checkbox {
    flex-wrap: wrap;
    margin-bottom: 0.3em;
    font-size: 0.8em;
    margin-left: 5%;
}

#fcheck-box {
    margin-top: 3%;
}
 
.submit {
    background-color: #44d4cb;
    width: 30vh;
    height: 8vh;
    border-radius: 50px;
    border-style: solid;
    border-width: 0;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

.input-submit {
    margin-top: 8%;
    text-align: center;
}

@media (max-width : 430px) {
    #itens-header h1 {
        font-size: 2em;
    }
    #itens-header img {
        width: 15%;
    }
    form {
        width: 95%;
    }
    #nome-box {
        margin-top: 12%;
    }

    
}