* {
    padding: 0;
    /* preenchimeto*/

    margin: 0;
    /* Tirar a Margem */

    vertical-align: baseline;
    /* */

    list-style: none;
    /* */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        /* Mudamos a fonte da letra */
}

/* LOGO */
/* LOGO */
#line{
    background-color: #238881c5;
    width: 100%;
    height: 1em;
}

header {
    background-color: #32C2B9;
    padding: 1%;
    overflow: hidden;
    align-items: center;
    display: flex;
}

#texto-header {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

#texto-header img {
    background-color: white;
    border-radius: 50%;
    width: 8%;
    border-style: transparent;
}

#texto-header img:hover{
    transition: 0.4s;
    width: 9%;   
}

#texto-header h1 {
    align-items: center;
    font-size: 300%;
    margin-left: 2%;
    color: white;
    font-weight: 350;
}

/* LOGO */



/* MENU */

#list-menu {
    display: flex;

}

.item-header  {
    text-decoration: none;
    margin-right: 3em;
    font-weight: 100;
}

.item-header a {
    text-decoration: none;
    color: white;
}

.item-header a:hover{
    transition: 0.3s;
    font-size: 1.1em;
    color: lightslategray;
}
/* MENU */



/* IMG DESTAQUE */
#destaque-prevencao {
    margin-top: 0.2%; /*Espacamento superior  */
    background: linear-gradient(180deg, #5f5f5f91 8.33%, rgba(105, 105, 105, 0.623)), url(../imagens/Prevenção.jpg);  /* Filtro com imagem de fundo */
    padding: 13vw; /* preenchimento */
    background-repeat: no-repeat; /* Nao repetir a imagem */
    background-size: cover; /* imagem cobrir a tela, aonde foi designado  */
    background-position: center; /* Posição da imagem */
}

/* IMG DESTAQUE */
#destaque-harmonizacao{
    margin-top: 0.2%; /* Espacamento superior */
    background: linear-gradient(180deg, #5f5f5f91 8.33%, rgba(105, 105, 105, 0.623)), url(../imagens/Harmonização\ 2.jpg); /* Filtro com imagem de fundo */
    padding: 13vw; /* preenchimento */
    background-repeat: no-repeat; /* Nao repetir a imagem */
    background-size: cover; /* imagem cobrir a tela, aonde foi designado  */
    background-position: center; /* Posição da imagem */
}

/* */
#destaque-harmonizacao h2 {
    text-align: center; /* */
    color: white; /* */
    font-size: 4em; /* */
    font-weight: 600; /* */
    margin-top: -8%; /* */
}

/* */
#destaque-prevencao h2{ /* */
    text-align: center; /* */
    color: white; /* */
    font-size: 4em; /* */
    font-weight: 600; /* */
    margin-top: -8%; /* */
}

/* IMG DESTAQUE */ 

/* */
#tratamento-geral h2 {
    text-decoration: underline;
    margin-left: 15%;
    font-weight: 400;
    font-size: 2em;
    
}

/* */
#tratamento-geral p {
    max-width: 60%;
    margin: 3%;
    margin-left: 15%;
    font-size: 1.1em;
}

/* */
#tratamento-geral ul li{ /* */
    list-style: inside;
    margin-left: 10%;
    font-weight: 500;
    max-width: 70%; /* */
}

/* */
#img-tratamento { /* */
    display: flex; /* */
    margin-left: 9%; /* */
    margin-top: 3%; /* */
}

/* */
#img-tratamento img { 
    padding: 2%; /* */
    width: 30%;  /* */

    transform: translateY(-1.3em); /* */
}
 
/*  */
/*  */

#tratamento-geral2{ /* */
    display: flex; /* */
    padding: 4%; /* */
    margin-top: 3%; /* */
    background-color: #C0C0C0;
    margin-bottom: 6%;
}

#tratamento-geral2 h2 {
    text-decoration: underline;
    margin-left: 10%;
    font-weight: 400;
    font-size: 2em;
    
}

#tratamento-geral2 p {
    max-width: 60%;
    margin: 3%;
    margin-left: 10%;
    font-size: 1.1em;
    font-weight: 500;
}

/* */
#tratamento-geral2 img { 
    padding: 2%; /* */
    width: 30%;  /* */
    transform: translateY(-1.3em); /* */
    margin-right: 4%;
}

 
 
/* estilizando o rodapé*/
footer {
    background-color: #32C2B9;
    margin-top: 4%;
    overflow: hidden;
}

.info-footer {
    display: flex;
    align-items: center;
}


.info-footer h2 {
    color: white;
    font-size: 3.5em;
    font-weight: 200;
    align-items: center;
}


.sessao-footer iframe {
    margin: 3rem;
}

#menu-footer ul{
    display: flex;

}

#menu-footer {
    display: flex;
    align-items: center;

}


footer img {
    width: 20%;
    border-radius: 50vh;
    margin: 1.5rem;
}



.meio-footer a {
    text-decoration: none;
    display: flex;
    margin-left: 10em;
    text-align: center;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
}

.linha-footer {
    display: flex;
    align-items: center;
    width: 68%;
    height: 3px;
    border-width: 0;
    background-color: white;
    margin-right: 4%;
    margin-left: 3%;
}

.texto-meio {
    display: flex;
    justify-content: center;
}

#loc {
    margin-right: 5rem;
}

.sessao-footer {
    display: flex;
}

.contatos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contatos-list{
    display: flex;
    width: 10%;
    height: 10vh;
    text-align: center;
    align-items: center;
    padding: 1%;
}

.contatos-list p{
    text-wrap: nowrap;
    margin-left: -2vh;
    color: white;
}

